// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.form-create {
    margin: 0, auto;
    color: rgb(14, 73, 181);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
    margin-top: 20px;
}

.empty {
    color: beige;
    font-size: 27px;
}
